<configuration>    
  <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
  	<target>System.err</target>
  	<encoder>
      <pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="stderr"/>
  </root>
</configuration>
